In [2]:
import pandas as pd
  

import numpy as np
  
arr = np.array(['S','U','J','I','T','H',
                'R','E','D','D','Y'])

s = pd.Series(arr)
  
print(s)

0     S
1     U
2     J
3     I
4     T
5     H
6     R
7     E
8     D
9     D
10    Y
dtype: object

In [ ]:
import pandas as pd
branch=pd.Series(["cse","ece","eee"])
fee =pd.Series([20000,40000,50000])
u=pd.Series([56,67,78])
df=pd.concat([branch,fee],axis=1)
df=pd.concat([branch,fee,u],axis=1)
df

     0      1   2
0  cse  20000  56
1  ece  40000  67
2  eee  50000  78

In [ ]:
sr=pd.Series([13,45,6,7,23])
index1=["abc","def","hij","klm","nop"]
sr.index=index1
sr

abc    13
def    45
hij     6
klm     7
nop    23
dtype: int64

In [ ]:
r=sr.rename("letters")
r

abc    13
def    45
hij     6
klm     7
nop    23
Name: letters, dtype: int64

In [ ]:
sr1=pd.Series([1,5,6,3,12])
sr2=pd.Series([1,4,7,19,3])
r = sr1[~sr1.isin(sr2)]
r

1     5
2     6
4    12
dtype: int64

In [ ]:
import numpy as np
union=pd.Series(np.union1d(sr1,sr2))
intersect=pd.Series(np.intersect1d(sr1,sr2))
notcommon=union[~union.isin(intersect)]
union

0     1
1     3
2     4
3     5
4     6
5     7
6    12
7    19
dtype: int64

In [ ]:
result=np.percentile(sr1,q=[0,25,50,75,100])
result

array([ 1.,  3.,  5.,  6., 12.])

In [ ]:
sd=pd.Series([2,4,3,3,5,7,8,7,7,9,9,1,2,3,4])
sd.value_counts()

3    3
7    3
2    2
4    2
9    2
5    1
8    1
1    1
dtype: int64

In [3]:

np.random.RandomState(100)
num_series = pd.Series(np.random.randint(1, 5, [15]))
print("Top 2 Freq:", num_series.value_counts())
result = num_series[~num_series.isin(num_series.value_counts().index[:2])] = 'Other'
print(num_series)

Top 2 Freq: 3    4
4    4
2    4
1    3
dtype: int64
0         3
1         3
2         4
3         3
4     Other
5     Other
6         4
7     Other
8     Other
9         4
10        4
11        3
12    Other
13    Other
14    Other
dtype: object

In [4]:
numpyArray = np.array([[15, 22, 43], 
                       [33, 24, 56]])
index = ['Row_' + str(i) 
        for i in range(1, len(numpyArray) + 1)]
columns = ['Column_' + str(i) 
          for i in range(1, len(numpyArray[0]) + 1)]
panda_df = pd.DataFrame(numpyArray , 
                        index = index,
                        columns = columns)
print(panda_df)

       Column_1  Column_2  Column_3
Row_1        15        22        43
Row_2        33        24        56

In [ ]:
ser = pd.Series([0,1,2,3,4,5,6,7,8,9])
result = np.where(ser % 3==0)
print(result)

In [6]:
print(ser[3])

3

In [7]:
series1 = pd.Series(['a', 'b', 'c', 'd', 'e'])
series2 = pd.Series([9, 8, 7, 6, 5])
df = pd.concat([series1, series2], axis = 1)
print("\nHorizontal:")
display(df)
df = pd.concat([series1, series2], axis = 0)
print("\nVertical:")
display(df)

Horizontal:

   0  1
0  a  9
1  b  8
2  c  7
3  d  6
4  e  5

Vertical:

0    a
1    b
2    c
3    d
4    e
0    9
1    8
2    7
3    6
4    5
dtype: object

In [8]:
series1=pd.Series([6,7,5,2,4,1,3])
series2=pd.Series([1,2,3])

l=[pd.Index(series1).get_loc(num) for num in series2]
print(l)

[5, 3, 6]

In [9]:
Y_true = [1,1,2,2,4]
Y_pred = [0.6,1.29,1.99,2.69,3.4]
MSE = np.square(np.subtract(Y_true,Y_pred)).mean()
print(MSE)

0.21606

In [10]:
series = pd.Series(['geeks', 'for', 'geeks', 'pandas', 'series'])
newSeries = series.map(lambda x: x[0].upper() + x[1:])
newSeries

0     Geeks
1       For
2     Geeks
3    Pandas
4    Series
dtype: object

In [11]:
words = pd.Series(['Java', 'Kotlin', 'Python', 'Scala', 'Ruby'])
rst = words.map(lambda calc: len(calc))
print(rst)

0    4
1    6
2    6
3    5
4    4
dtype: int64

In [12]:
ser = pd.Series([6,7,5,2,4,1,3])
res = pd.Series([abs(abs(ser[i]-ser[i+1])-abs(ser[i+1]-ser[i+2])) for i in range(len(ser)-2)])
print(res)

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [13]:
dt_series = pd.Series(['28 July 2020', '16 January 2013', '29 February 2016 18:14'])
print(pd.to_datetime(dt_series))

0   2020-07-28 00:00:00
1   2013-01-16 00:00:00
2   2016-02-29 18:14:00
dtype: datetime64[ns]